*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: "Roboto Condensed";
	--platinum: #DBDBDB;
	--vermillion: #F24236;
	--blue: #0F084B;
	--gray: #565554;
	--black: #161514;
	--transparent-black: #16151444;
	--transparent-platinum: #DBDBDB44;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	width: 100%;
	background-image: linear-gradient(var(--platinum), var(--platinum)), linear-gradient(to bottom, #F2423699, transparent), url('images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-blend-mode: overlay;
	background-position: center center;
} 
nav{
	background-color: var(--vermillion);
	padding: 10px 0;
	font-size: clamp(12px, 2.4vw, 17px);
	position: fixed;
	width: 100vw;
	z-index: 10;
	box-shadow: 0 0 10px var(--black);
}
li a{
	text-decoration: none;
	color: var(--platinum);
}
li{
	list-style: none;
	text-align: center;
	padding: 5px 10px;
	border-radius: 12px;
	transition: 0.3s;
}
li:hover{
	background-color: var(--platinum);
}
li:hover a{
	color: var(--vermillion);
}
ul{
	display: flex;
	justify-content: space-evenly;
}
.space{
	height: 100px;
}
main{
	padding: 1vh 0 5vh 0;
	display: flex;
	color: var(--platinum);
	justify-content: space-between;
	flex-direction: column;
	margin: auto;
	gap: 30vh;
	width: clamp(100px, 85vw, 950px);
}
.about-me{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "space space"
	                     "img h1"
						 "img info";
	gap: 6px;
}
.img-container{
	width: clamp(80px, 30vw, 180px);
	grid-area: img;
	margin: 0 10px 0 5px;
	align-content: center;
}
.img-container img{
	width: 100%;
	aspect-ratio: 1/1.1;
	border-radius: 100%;
	transition: 0.5s;
	box-shadow: 2px 0 4px #DBDBDB39, -2px -5px 4px #F2423622;
	backdrop-filter: blur(2px);
	filter: brightness(0.9);
	display: none;
}
.img-container img:hover{
	box-shadow: 2px 0 4px #DBDBDB39, -2px -5px 4px #F2423633;
}
h1{
	grid-area: h1;
	font-size: clamp(19px, 4.7vw, 50px);
	font-weight: 800;
}
.info{
	grid-area: info;
	font-size: clamp(15px, 3.1vw, 24px);
	line-height: 1.35;
	font-weight: 300;
}
.info span{
	font-weight: 600;
	font-size: clamp(16px, 3.2vw, 25px);
}
h1, .info{
	text-align: right;
}

.skills{
	animation: move-right both, appear both;
	animation-timeline: view();
	animation-range-end: contain 0%;
}
h2{
	text-align: center;
	margin-bottom: 20px;
	font-size: clamp(18px, 4.4vw, 40px);
}
.skill-section{
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "bar html"
						 "bar2 css"
						 "bar3 js";
	padding: 16px 14px;
	border-radius: 8px;
	width: clamp(100px, 90%, 750px);
	height: clamp(10px, 35vw, 300px);
	margin: 0 auto;
	gap: 10px;
	backdrop-filter: blur(2px);
	border: 2px solid var(--vermillion);
	align-items: center;
	box-shadow: 4px 4px 10px #000, -4px -4px 10px #F2423644;
}
.skill-bar{
	padding: 2px 3px;
	height: clamp(14px, 50%, 30px);
	width: 100%;
	border: 1px solid var(--platinum);
	border-radius: 12px;
	background-color: var(--transparent-black);
}
.skill-bar:first-child{
	grid-area: bar;
}
.skill-bar:nth-child(2){
	grid-area: bar2;
}
.skill-bar:last-child{
	grid-area: bar3;
}
.HTML{
	grid-area: html;
}
.CSS{
	grid-area: css;
}
.JS{
	grid-area: js;
}
.html{
	width: 75%;
	}
.css{
	width: 70%;
	}
.javascript{
	width: 30%;
	}
.skill-progress{
	height: 100%;
	background-color: var(--vermillion);
	padding: 2px;
	border-radius: 10px;
	color: var(--platinum);
	display: flex;
	justify-content: center;
	align-items: center;
}
.skill-progress span{
	display: none;
	font-size: clamp(13px, 2vw, 17px);
}




.contact-section{
	backdrop-filter: blur(2px);
	border: 2px solid var(--vermillion);
	box-shadow: 4px 4px 10px #000, -4px -4px 10px #F2423644;
	border-radius: 8px;
	padding: 4px 10px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: 20vh;
	width: clamp(190px, 75%, 450px);
	height: clamp(140px, 33vw, 220px);
	justify-content: space-evenly;
}
.contact-section a{
	padding: 4px 5px;
	backdrop-filter: blur(2px);
	border: 1px solid var(--vermillion);
	border-radius: 16px;
	text-decoration: none;
	color: var(--platinum);
	height: clamp(22px, 25%, 36px);
	font-size: clamp(14px, 2.5vw, 18px);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--transparent-black);
	gap: 7px;
	transition: 0.3s;
}
.contact-section a:hover{
	box-shadow: 2px 2px 10px #000, -4px -4px 10px #F2423644;
	background-color: var(--vermillion);
}
.whatsapp{
	width: clamp(16px, 6%, 26px);
}
.gmail{
	width: clamp(13px, 5%, 26px);
}
.linkedin{
	width: clamp(15px, 6%, 24px);
}



@media screen and (min-width: 800px){
	.about-me{
		gap: 8px;
	}
	main{
		width: clamp(100px, 70vw, 950px);
		gap: 42vh;
		padding: 5vh 0 10vh 0;
	}
	.skill-bar{
		padding: 3px;
	}
	.contact-section{
		padding: 4px 16px;
	}
}
@media (min-width: 480px){
	.skill-bar span{
		display: block;
	}
}


@keyframes move-right{
	0%{
		transform: translateX(-100vw);
	}
	100%{
		transform: translateX(0);
	}
}
@keyframes appear{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
