/*
FALTA CREAR LA SECCIÓN DE PROYECTOS, ARREGLAR LA SECCIÓN DE CONTACTO Y AÑADIR LOS FAVICONS
*/

:root{
	color-scheme: light dark;
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: "Roboto Condensed", "sans-serif";
	--platinum: #DBDBDB;
	--vermillion: #F24236;
	--black: #161514;
	display: flex;
	flex-direction: column;
	background-color: light-dark(var(--platinum), var(--black));
	width: 100%;
	overflow-x: hidden;
}
.space{
	height: 100px;
} 
ul{
	list-style: none;
}
/*
NAV
*/

nav{
	background-color: #E23226;
	padding: 10px 0;
	font-size: clamp(14px, 2.5vw, 17px);
	position: fixed;
	width: 100vw;
	z-index: 10;
	box-shadow: 0 0 20px light-dark(#0006, #0008);
}
li a{
	text-decoration: none;
	color: #FFF;
}
nav li{
	text-align: center;
	padding: 5px 10px;
	border-radius: 12px;
	transition: 0.3s;
	cursor: pointer;
}
nav li:hover{
	background-color: var(--platinum);
}
nav li:hover a{
	color: var(--vermillion);
}
nav ul{
	display: flex;
	justify-content: space-evenly;
}

/*
MAIN
*/

main{
	padding: 1vh 0 6vh 0;
	display: flex;
	color: light-dark(var(--black), #FFF);
	justify-content: space-between;
	flex-direction: column;
	gap: 14vw;
	margin: auto;
	width: clamp(120px, 88vw, 700px);
}

/*
ABOUT-ME
*/

.about-me{
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	grid-template-areas: "space space"
	                     "img h1"
						 "img info";
	gap: 6px;
	margin-bottom: 20px;
}
.img-container{
	width: clamp(80px, 30vw, 180px);
	grid-area: img;
	margin: 0 10px 0 5px;
	align-content: center;
}
.img-container img{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: 100%;
	box-shadow: 0 0 10px #000;
	animation: move-right both 1.2s 0.3s, appear2 both 1.2s 0.5s;
}
h1{
	grid-area: h1;
	font-size: clamp(19px, 4.7vw, 50px);
	font-weight: 800;
	animation: move-down both 1.2s 0.3s, appear2 both 1.2s 0.5s;
}
.info{
	grid-area: info;
	font-size: clamp(16px, 3.2vw, 22px);
	line-height: 1.55;
	animation: move-up both 1.2s 0.3s, appear2 both 1.2s 0.5s;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.contact-button{
	padding: 4px 5px;
	border: 1px solid var(--vermillion);
	border-radius: 16px;
	text-decoration: none;
	color: light-dark(var(--black), #FFF);
	height: clamp(22px, 25%, 36px);
	font-size: clamp(14px, 2.5vw, 18px);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s;
	width: clamp(85px, 30%, 140px);
	align-self: flex-end;
}
.contact-button:hover{
	box-shadow: 2px 2px 10px light-dark(#0007, #000), -4px -4px 10px #F2423644;
	background-color: var(--vermillion);
	color: #FFF;
}
h1, .info{
	text-align: right;
}
h2{
	text-align: center;
	font-size: clamp(19px, 4.8vw, 40px);
}
h2, .cta{
	margin-bottom: 16px;
}

/*
PROJECTS
*/

.projects{
	animation: move-right both, appear both;
	animation-timeline: view();
	animation-range-end: contain;
}

.projects-section{
	border: 2px solid var(--vermillion);
	box-shadow: 4px 4px 10px light-dark(#000A, #000), -4px -4px 10px #F2423644;
	border-radius: 8px;
	padding: 4px 10px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: 20vh;
	width: clamp(190px, 75%, 450px);
	height: clamp(140px, 33vw, 220px);
	justify-content: space-evenly;
}

/*
BENEFITS
*/

.benefits{
	animation: move-right both, appear both;
	animation-timeline: view();
	animation-range-end: contain;
}
.benefits-section{
	border: 2px solid var(--vermillion);
	box-shadow: 4px 4px 10px light-dark(#000A, #000), -4px -4px 10px #F2423644;
	border-radius: 8px;
	padding: 14px 16px;
	margin: 0 auto;
	margin-bottom: 20vh;
	width: clamp(220px, 75%, 500px);
	font-size: clamp(15px, 2.8vw, 19px);
	max-height: 315px;
}
.benefits-section ul{
	display: flex;
	flex-direction: column;
	gap: 1.85vw;
	justify-content: space-evenly;
}
.benefits-section ul span{
	font-weight: 500;
}

/*
CONTACT
*/

.contact{
	animation: move-right both, appear both;
	animation-timeline: view();
	animation-range-end: contain;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cta{
	text-align: center;
	font-size: clamp(16px, 3vw, 19px);
}
.cta-text{
	margin: 0 auto;
}
.contact-section{
	border: 2px solid var(--vermillion);
	box-shadow: 4px 4px 10px light-dark(#000A, #000), -4px -4px 10px #F2423644;
	border-radius: 8px;
	padding: 4px 10px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	margin-bottom: 20vh;
	width: clamp(190px, 75%, 450px);
	height: clamp(140px, 33vw, 220px);
	justify-content: space-evenly;
}
.contact-section a{
	padding: 4px 5px;
	border: 1px solid var(--vermillion);
	border-radius: 16px;
	text-decoration: none;
	color: light-dark(var(--black), #FFF);
	height: clamp(22px, 25%, 36px);
	font-size: clamp(14px, 2.5vw, 18px);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 7px;
	transition: 0.3s;
}
.contact-section a:hover{
	box-shadow: 2px 2px 10px light-dark(#0007, #000), -4px -4px 10px #F2423644;
	background-color: var(--vermillion);
	color: #FFF;
}
.whatsapp{
	width: clamp(16px, 6%, 26px);
}
.gmail{
	width: clamp(13px, 5%, 26px);
}
.linkedin{
	width: clamp(15px, 6%, 24px);
}

/*
FOOTER
*/

footer{
	padding: 10px;
	text-align: center;
	font-size: clamp(13px, 3vw, 16px);
}

/*
QUERIES
*/

@media screen and (min-width: 470px){	
	.type{
		animation: typing 3.1s steps(40, end), blink .8s step-end infinite;
	}
	.cta{
		white-space: nowrap;
	}
	.cta-text{
		overflow: hidden;
		margin: 0 auto;
		border-right: 2px solid var(--vermillion);
	}
}
@media screen and (min-width: 800px){
	.about-me{
		gap: 12px;
	}
	main{
		width: clamp(100px, 70vw, 900px);
		gap: 12vw;
		padding: 5vh 0 10vh 0;
	}
	.skill-bar{
		padding: 3px;
	}
	.contact-section{
		padding: 4px 16px;
	}
	h2, .cta{
		margin-bottom: 24px;
	}
	.benefits-section ul{
		gap: 1.5vw;
	}
}

/*
ANIMATIONS
*/

@keyframes move-right{
	0%{
		transform: translateX(-8vw);
	}
	100%{
		transform: translateX(0);
	}
}
@keyframes move-left{
	0%{
		transform: translateX(8vw);
	}
	100%{
		transform: translateX(0);
	}
}
@keyframes move-down{
	0%{
		transform: translateY(-14vh);
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes move-up{
	0%{
		transform: translateY(5vh);
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes appear{
	0%{
		opacity: 0.25;
	}
	100%{
		opacity: 1;
	}
}
@keyframes appear2{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
@keyframes typing{
	from{
		width: 0;
	}
	to{
		width: 100%;
	}
} 
@keyframes blink{
	0%, 100%{
		border-color: transparent;
	}
	50%{
		border-color: var(--vermillion);
	}
}
